<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (click)="onSubmit()">
        <div id="user-data" formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" formControlName="username">
            <span *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched"
              class="help-block">
              <span *ngIf="signupForm.get('userData.username').errors['nameIsForbidden']"> This name no more available! </span>
              <span *ngIf="signupForm.get('userData.username').errors['required']"> This Field is require! </span>
               </span>
          </div>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" id="email" class="form-control" formControlName="email">
            <span *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched"
                  class="help-block"> Please enter valid name!</span>
          </div>
        </div>
        <div class="radio" *ngFor="let g of genders"  >
          <label>
            <input type="radio" name="gender" [value]="g" formControlName="gender" >
            {{g}}
          </label>
        </div>
        <span *ngIf="!signupForm.valid && signupForm.touched"
              class="help-block"> Please enter valid data!</span>
        <div formArrayName="hobbies">
          <h4>Your Hobbies</h4>
          <button class="btn btn-default" type="button" (click)="onAddHobby()"  > Add Hobbies</button>
          <div class="form-group" *ngFor="let hobby of getControls(); let i = index">
            <input type="text" class="form-control" [formControlName]="i" >
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>







  <!--<div class="row" >
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit(formSignup)" #formSignup="ngForm">
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" ngModel name="username" required >

          </div>
          <button class="btn btn-default" type="button" (click)="suggestUserName()">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" id="email" class="form-control" ngModel name="email" required email #email="ngModel">
            <span class="help-block" *ngIf="!email.valid && email.touched">please enter a valid email!</span>
          </div>
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret" class="form-control" [ngModel]="defaultValue" name="secret">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea name="questionAnswer" rows="3" [(ngModel)]="answer" class="form-control">
          </textarea>
        </div>
        <p *ngIf="!userData.valid && userData.touched">Please Enter valid Data!</p>
        <p>Your Answer: {{answer}}</p>
        <div class="radio" *ngFor="let g of gender">
          <label>
            <input type="radio" name="gender" ngModel [value]="g" required>
            {{g}}
          </label>

        </div>
        <button class="btn btn-primary"
                type="submit"
                [disabled]="!formSignup.valid"
        >Submit</button>


      </form>
    </div>
  </div>
  <div class="row" *ngIf="submitted">
    <h3>Your Data</h3>
    <p>Gender: {{user.name}}</p>
    <p>Name: {{user.email}}</p>
    <p>Mail: {{user.gender}}</p>
    <p>Secret: {{user.secret}}</p>
    <p>Answer: {{user.answer}}</p>
  </div>-->
</div>
